header{
    background-color:rgb(40, 40, 40);
}
header div span{
    color:wheat
}
label{
    color:wheat;
    user-select: none
}
#search{
    opacity: 0.5;
}
/*  */
section{
    background-color:rgb(31, 31, 31);
}
#wrap-control{
    background-color:rgb(40, 40, 40);
    max-height: 100px
}
#add{
    opacity: 0.5;    
}

#create{
    background-color:wheat;
    
}
.control{
    color:wheat;
    cursor: pointer;
}
#add-project{
    cursor: pointer;
}
/*  */
#content .card{
    background-color:rgb(40, 40, 40);
    color:wheat;
    position:relative;
}
.del{
    transform: rotate(45deg);
    display: block;
    position:absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    width: 20px;
    height: 20px;
    font-size: 20px;
}
.del:hover{
    color:tomato;
    transition: 0.4s; 
}
#content button{
    background-color: tomato;
}
#content .list-group-item{
    background-color:rgb(40, 40, 40);
}
#content .wrap-add-task{
    display: none
}
#content .wrap-add-task input{
    background-color:wheat
}
.show-add-task{
    cursor: pointer;
    user-select: none
}
.show-add-task::before{
    content: "+";
    color: tomato;
}
.show-add-task:hover{
    color: tomato;
    transition: 0.4s
}
.remove{
    display: block;
    cursor: pointer;
    color:tomato;
    user-select: none;
}
.done{
    color:white;
    display: block;
    user-select: none;
    cursor: pointer;
}



footer{
    width: 100wh;
    height: 1000px;
    background-color:rgb(40, 40, 40);
}



