header{
    background-color:rgb(40, 40, 40);
}
header div span{
    color:wheat
}
label{
    color:wheat;
    user-select: none
}
#search{
    opacity: 0.2;
}
/*  */
section{
    background-color:rgb(31, 31, 31);
}
#wrap-control{
    background-color:rgb(40, 40, 40);
}
#add{
    opacity: 0.2;
    /* visibility: hidden */
}
#create{
    background-color:white
}
.control{
    color:wheat;
    cursor: pointer;
}
#add-project{
    cursor: pointer;
}
/*  */
#content .card{
    background-color:rgb(40, 40, 40);
    color:wheat;
}
#content h4{
}
#content button{
    background-color: tomato;
}
#content .list-group-item{
    background-color:rgb(40, 40, 40);
}
#content .wrap-add-task{
    display: none
}
#content .wrap-add-task input{
    background-color:wheat
}
.show-add-task{
    cursor: pointer;
    user-select: none
}
.show-add-task::before{
    content: "+";
    color: tomato;
}
.show-add-task:hover{
    color: tomato;
}
.remove{
    display: block;
    cursor: pointer;
    color:tomato;
    user-select: none;
}
.done{
    color:white;
    display: block;
    user-select: none;
}



footer{
    width: 100wh;
    height: 200px;
    background-color:rgb(40, 40, 40);
}



